.repositorio__container {
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 20px 0 40px 0;
  background: rgb(219, 216, 216);
}

.repositorio__descricao {
  padding-left: 100px;
}